#Django==1.4c2
http://www.djangoproject.com/download/1.4-rc-2/tarball/

wsgiref==0.1.2

-e git://github.com/sunlightlabs/python-transparencydata.git#egg=transparencydata
pymongo
djangorestframework
isoweek