Django==1.4

wsgiref==0.1.2

-e git://github.com/sunlightlabs/python-transparencydata.git#egg=transparencydata
pymongo
djangorestframework
isoweek
thrift
-e git+https://github.com/aparo/pyes.git#egg=pyes
pyparsing