Django==1.5.4

wsgiref==0.1.2
beautifulsoup4==4.1.3
cffi
gunicorn
html2text

-e git://github.com/sunlightlabs/python-transparencydata.git#egg=transparencydata
pymongo
djangorestframework==2.1.17
isoweek
thrift
-e git+https://github.com/aparo/pyes.git#egg=pyes
pyparsing
-e git+https://github.com/sunlightlabs/regs-models.git#egg=regs_models
python-memcached
python-dateutil
-e git+https://github.com/sunlightlabs/django-locksmith.git@client-keys#egg=locksmith