<div class="banner">
    <div class="banner-content">
        <% if (typeof agency !== "undefined") { %>
        <div class="breadcrumbs">
            <a href="<%=agency.url%>"><%=agency.name%></a> &raquo;
        </div>
        <% } %>
        <div class="dates">
            <%=formatDate(stats.date_range[0])%> &mdash; <%=formatDate(stats.date_range[1])%>
        </div>
        <h2><%=(typeof title === "undefined" ? name : title)%></h2>
    </div>
</div>

<div class="main-content with-right-sidebar">
    <div class="main-column">
        <h3>Docket Overview</h3>
        <div class="main-column-item">
            <h4>Timeline</h4>
            <div id="submission-timeline"></div>
        </div>
        <% _.each(stats.doc_info.fr_docs, function(fr_doc) { %>
            <div class="main-column-item">
                <h4><%=({'notice': 'Notice', 'proposed_rule': 'Proposed Rule', 'rule': 'Rule'})[fr_doc.type]%>: <a href="/document/<%=fr_doc.id%>"><%=fr_doc.title%></a></h4>
                
                <div class="document-summary">
                    <div class="summary-title">Summary:</div>
                    <div class="summary-contents">
                        <%=(fr_doc.summary ? fr_doc.summary : "<em>No summary information available.</em>")%>
                    </div>
                </div>
                
                <div class="document-info-shadow"></div>
                <div class="document-info">
                    <div class="document-date"><%=shortFormatDate(fr_doc.date)%></div>
                    <div class="comment-info">
                        <strong>Comments:</strong> <span class="comment-count"><%=fr_doc.stats.count%></span>
                        <div class="openness">Open for Comment</div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        <% }); %>

        <div class="main-column-split">
            <div class="main-column-left">
                <h4>Supporting &amp; Related Material</h4>
                (<a href="#"><%=stats.type_breakdown.supporting_material%> documents total</a>)
                <ul class="document-list">
                    <% _.each(stats.doc_info.supporting_material, function(doc) { %>
                    <li><a href="/document/<%=doc.id%>"><%=doc.title%></a></li>
                    <% }); %>
                </ul>
            </div>
            <div class="main-column-right">
                <h4>Other Material</h4>
                (<a href="#"><%=stats.type_breakdown.other%> documents total</a>)
                <ul class="document-list">
                    <% _.each(stats.doc_info.other, function(doc) { %>
                    <li><a href="/document/<%=doc.id%>"><%=doc.title%></a></li>
                    <% }); %>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-item">
            <a href="#">Track this docket with Scout &raquo;</a>
        </div>
        <div class="sidebar-item">
            <h4>Comment Similarity</h4>
            <div class="similarity-description">
                This docket contains <span class="group-count">26 groups</span> of comments at least <span class="cutoff">80% similar</span> to one another.
            </div>
            <a href="#">Explore the similarity of comments in this docket &raquo;</a>
        </div>
        <div class="sidebar-item">
            <h4>Top Comment Submitters (<a href="#"><%=submission_count%></a>)</h4>
            <div class="submitter-breakdown"></div>
            <div class="top-submitters">
                <%
                    var submission_type = 'top_submitter_entities';
                    var counted_comments = 0;
                    for (var i = 0; i < Math.min(5, stats[submission_type].length); i++) {
                %>
                    <div class="submitter" data-previous-submissions="<%=counted_comments%>" data-submission-count="<%=stats[submission_type][i].count%>">
                        <div class="submitter-square submitter-square-<%=i%>"></div>
                        <div class="submitter-name">
                            <strong>
                                <% if (stats[submission_type][i].type == 'organization') { %>
                                    <a href="<%=stats[submission_type][i].url%>"><%=stats[submission_type][i].name%></a>
                                <% } else { %>
                                    <%=stats[submission_type][i].name%>
                                <% } %>
                            </strong><br />
                            (<a href="/search-document/<%=encodeURIComponent(({'top_submitter_entities': 'submitter:', 'top_text_entities': 'mentioned:'})[submission_type] + stats[submission_type][i].id + " " + type + ":" + id)%>">View <%=stats[submission_type][i].count%> comments</a>)
                        </div>
                        <div class="clear"></div>
                    </div>
                <%
                        counted_comments += stats[submission_type][i].count;
                    }
                    var other_count = submission_count - counted_comments;
                %>
                <div class="submitter" data-previous-submissions="<%=counted_comments%>" data-submission-count="<%=other_count%>">
                    <div class="submitter-square submitter-square-other"></div>
                    <div class="submitter-name">
                        <strong><a href="#">All other comments</a></strong><br />
                        (<a href="#">View <%=other_count%> comments</a>)
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="sidebar-item">
            <h4>View Similar Dockets</h4>
            <ul class="document-list">
                <li><a href="#">Supporting Statement for the Information Collection Requirements of the Standards on Marine Terminals (26 CFR Part 1917)</a></li>
                <li><a href="#">Petition Requesting Non-See-Through Packaging for Torch Fuel and Lamp Oil</a></li>
                <li><a href="#">Occupational Injuries among Construction Workers Treated at the GWU Emergency Department</a></li>
            </ul>
        </div>
        <div class="sidebar-item last">
            <a href="http://www.regulations.gov/#!docketDetail;D=<%=id%>">View this Docket on Regulations.gov &raquo;</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
