<div class="banner">
    <div class="banner-content">
        <% if (typeof agency !== "undefined") { %>
        <ol class="breadcrumbs">
            <li><a href="<%=agency.url%>"><%=agency.name%></a> &raquo;</li>
        </ol>
        <% } %>
        <span class="dates">
            <%=formatDate(stats.date_range[0])%> &mdash; <%=formatDate(stats.date_range[1])%>
        </span>
        <h2><%=(typeof title === "undefined" ? name : title)%></h2>
    </div>
</div>

<%
    var agg_filter = (typeof title === "undefined" ? 'agency:' + id + ':' + JSON.stringify(name) : 'docket:' + id + ':' + JSON.stringify(title));
%>
<div class="main-content with-right-sidebar clearfix">
    <div class="main-column">
        <h3><%=capitalize(type)%> Overview</h3>
        <div class="main-column-item">
            <h4>Timeline</h4>
            <div id="submission-timeline"></div>
        </div>

        <% if (type === "docket") { %>
        <!-- docket-specific displays -->

        <% _.each(stats.doc_info.fr_docs, function(fr_doc) { %>
        <div class="main-column-item clearfix">
            <h4><%=({'notice': 'Notice', 'proposed_rule': 'Proposed Rule', 'rule': 'Rule'})[fr_doc.type]%>: <a href="/document/<%=fr_doc.id%>"><%=fr_doc.title%></a></h4>

            <div class="document-summary">
                <h4 class="summary-title">Summary:</h4>
                <p class="summary-contents">
                    <%=(fr_doc.summary ? fr_doc.summary : "No summary information available.")%>
                </p>
            </div>

            <div class="document-info-shadow"></div>
            <dl class="document-info">
                <dt class="hidden">Date</dt>
                <dd class="document-date"><%=shortFormatDate(fr_doc.date)%></dd>
                <dt class="comment-info">Comments:&nbsp;<dt>
                <dd class="comment-count"><%=fr_doc.stats.count%></dd>
                <span class="comment-link">
                    <% if (fr_doc.stats.count > 0) { %>
                    <a href="/search-document-non-fr/<%=encodeURIComponent('type:public_submission:"Public Submission" comment_on:' + fr_doc.id + ":" + JSON.stringify(fr_doc.title))%>">View &amp; search &raquo;</a>
                    <% } %>
                </span>
                <span class="openness"><%=fr_doc.comments_open ? "Open for Comment" : "Closed to Comments"%></span>
            </dl>

        </div>
        <% }); %>

        <div class="main-column-split clearfix">
            <div class="main-column-left">
                <h4>Supporting &amp; Related Material</h4>
                <% if (stats.type_breakdown.supporting_material) { %>
                (<a href="/search-document-non-fr/<%=encodeURIComponent('type:supporting_material:"Supporting Material" ' + agg_filter)%>"><%=stats.type_breakdown.supporting_material + " " + pluralize(stats.type_breakdown.supporting_material, "document")%> total</a>)
                <ul class="document-list">
                    <% _.each(stats.doc_info.supporting_material, function(doc) { %>
                    <li><a href="/document/<%=doc.id%>"><%=doc.title%></a></li>
                    <% }); %>
                </ul>
                <% } else { %>
                <p class="notice">This docket doesn't contain any supporting or related materials.</p>
                <% } %>
            </div>
            <div class="main-column-right">
                <h4>Other Material</h4>
                <% if (stats.type_breakdown.other) { %>
                (<a href="/search-document-non-fr/<%=encodeURIComponent('type:other:"Other" ' + agg_filter)%>"><%=stats.type_breakdown.other + " " + pluralize(stats.type_breakdown.other, "document")%> total</a>)
                <ul class="document-list">
                    <% _.each(stats.doc_info.other, function(doc) { %>
                    <li><a href="/document/<%=doc.id%>"><%=doc.title%></a></li>
                    <% }); %>
                </ul>
                <% } else { %>
                <p class="notice">This docket doesn't contain any materials of type &ldquo;other.&rdquo;</p>
                <% } %>
            </div>
        </div>

        <% } else { %>
        <!-- agency-specific displays -->
        <% _.each([[recent_dockets, 'Most Recent Dockets'], [popular_dockets, 'Most Popular Dockets']], function(row) { %>
        <div class="main-column-item">
            <h4><%=row[1]%></h3>
            <table class="rank-table">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Total Comments</th>
                </tr>
                <% _.each(row[0], function(docket, idx) { %>
                <tr class="<%=(idx % 2 == 0 ? 'even' : 'odd')%>">
                    <td class="date-field"><%=shortFormatDate(docket.date_range[0])%></td>
                    <td><a href="/docket/<%=docket.id%>"><%=docket.title%></a></td>
                    <td><%=docket.comment_count%></td>
                </tr>
                <% }); %>
            </table>
            <a href="/search-docket/<%=encodeURIComponent('agency:' + id + ':"' + name + '"')%>" style="font-size: 80%">View more dockets &raquo;</a>
        </div>
        <% }); %>

        <% } %>
    </div>
    <div class="sidebar">
        <div class="sidebar-item comment-search">
            <% if (type == "docket") { %>
                <dl class="docket-info">
                    <dt class="comment-info">Total comments:&nbsp;<dt>
                    <dd class="comment-count"><%=submission_count%></dd>
                </dl>
                <a href="/search-document-non-fr/<%=encodeURIComponent('type:public_submission:"Public Submission" ' + agg_filter)%>">
                    View &amp; search comments &raquo;
                </a>
            <% } %>
        </div>

        <% if (type === "docket") { %>
        <div class="sidebar-item">
            <div class="similarityIcon"></div>
            <h4>Comment Similarity</h4>
            <div class="similarity-teaser loading">
            </div>
        </div>
        <% } %>

        <div class="sidebar-item <%=(type == 'agency' ? 'last' : '')%>">
            <h4>Top Comment Submitters</h4>
            <div class="submitter-breakdown"></div>
            <div class="top-submitters">
                <%
                    var submission_type = 'top_submitter_entities';
                    var counted_comments = 0;
                    for (var i = 0; i < Math.min(5, stats[submission_type].length); i++) {
                %>
                    <div class="submitter" data-previous-submissions="<%=counted_comments%>" data-submission-count="<%=stats[submission_type][i].count%>">

                        <ul class="submitter-name">
                            <li>
                                <div class="submitter-square submitter-square-<%=i%>"></div>
                                <% if (stats[submission_type][i].type == 'organization') { %>
                                    <p class="bold"><a  href="<%=stats[submission_type][i].url%>"><%=stats[submission_type][i].name%></a></p>
                                <% } else { %>
                                    <%=stats[submission_type][i].name%>
                                <% } %>
                            <span class="viewlink">(<a href="/search-document-non-fr/<%=encodeURIComponent(({'top_submitter_entities': 'submitter:', 'top_text_entities': 'mentioned:'})[submission_type] + stats[submission_type][i].id + ":" + JSON.stringify(stats[submission_type][i].name) + " " + agg_filter)%>">View <%=stats[submission_type][i].count%> comments</a>)</span>
                            </li>
                        </ul>
                    </div>
                <%
                        counted_comments += stats[submission_type][i].count;
                    }
                %>
                <a href="/search-entity/<%=encodeURIComponent(agg_filter)%>">
                    View all recognized submitters &raquo;
                </a>
            </div>
        </div>

        <% if (type === "docket") {
            if (stats.similar_dockets.length) { %>
        
        <div class="sidebar-item">
            <h4>View Similar Dockets</h4>
            <ul class="document-list">
                <% _.each(stats.similar_dockets, function(docket) { %>
                <li><a href="/docket/<%=docket.id%>"><%=docket.title%></a></li>
                <% }); %>
            </ul>
        </div>
        
            <% } %>

        <div class="sidebar-item last">
            <a class="external" href="http://www.regulations.gov/#!docketDetail;D=<%=id%>">View this docket on Regulations.gov &raquo;</a>
            <a class="download" href="/docket/<%=id%>/download">Download this docket's contents &raquo;</a>
        </div>

        <% } %>
    </div>
</div>
