<!doctype html>
{% load staticfiles %}

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Docket Wrench</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <meta name="og:title" content="Docket Wrench">
    <meta name="og:description" content="Use Docket Wrench to see how businesses and organizations shape federal regulations.">
    <meta name="og:type" content="cause">
    <meta name="og:image" content="http://docketwrench.sunlightfoundation.com/static/img/dw_share.jpg">
    <meta name="og:url" content="http://docketwrench.sunlightfoundation.com/">
    <meta name="og:site_name" content="Docket Wrench">
    <meta name="fb:admins" content="7812952,5308565">

    <link rel="stylesheet" href="{% static "css/jquery.ui.minimal.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.pretag.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/pikaday.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <script src="{% static "js/libs/modernizr-2.5.3.min.js" %}"></script>

    <script type="text/javascript" src="//use.typekit.net/faj8hqr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
        <div class="header-highlight"></div>
        <div class="sunlight-branding">
            <div class="sunlight-branding-content"><a href="http://sunlightfoundation.com">A product of Sunlight Foundation</a></div>
        </div>
        <div class="header-content">
           <h1><a id="logo" href="/">Docket Wrench</a></h1>
            <nav>
                <div class="social"></div>
                <ul id="top-menu">
                    <li class="about-link"><a href="/about">About</a></li>
                    <li class="contact-link"><a href="http://sunlightfoundation.com/contact/" target="blank">Contact</a></li>
                </ul>
            </nav>
            <div id="top-search">      
                <div class="search">      
                    <form>      
                        <input type="text" name="query" class="search-query" /> <input type="submit" value="go" />      
                    </form>      
                </div>     
            </div>
        </div>
    </header>
    <div class="main-loading loading"></div>
    <div role="main" id="main">
        {% block "main" %}{% endblock %}
    </div>
    <footer>
        <div class="mail-stripe ">
            <div class="mail-stripe-inner">
                <div class="call-to-action">
                    <h4>Like this project and want to discover others like it?</h4>
                    <p>Join the Sunlight Foundation's open government community to learn more.</p>
                </div>
                <ul class="sign-up">
                    <form name="list-sign-up" id="signupForm" action="" method="post">
                        <li><input id="id_email" class="email-field" type="text" placeholder="Email Address" name="email" /></li>
                        <li><input id="id_zip" class="zip-field" type="text" placeholder="Your zip code" name="zipcode" /><input type="submit" value="Sign Up" /></li>
                    </form>
                </ul>
            </div>
        </div>
        <div class="sunlight-stripe">
            <a class="sunlight-footer text-replace" href="http://sunlightfoundation.com">http://sunlightfoundation.com</a>
            <p class="sunlight-strip-text">Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
        </div>
    </footer>

    {# Backbone template includes #}
    <script type="text/html" id="document-tpl">
        {% include "sparerib/document.mt.html" %}
    </script>
    <script type="text/html" id="aggregated-tpl">
        {% include "sparerib/aggregated.mt.html" %}
    </script>
    <script type="text/html" id="entity-tpl">
        {% include "sparerib/entity.mt.html" %}
    </script>
    <script type="text/html" id="home-tpl">
        {% include "sparerib/home.mt.html" %}
    </script>
    <script type="text/html" id="clusters-tpl">
        {% include "sparerib/clusters.mt.html" %}
    </script>
    <script type="text/html" id="docket-teaser-tpl">
        {% include "sparerib/docket_teaser.mt.html" %}
    </script>
    <script type="text/html" id="document-teaser-tpl">
        {% include "sparerib/document_teaser.mt.html" %}
    </script>
    <script type="text/html" id="shallow-working-results-tpl">
        {% include "sparerib/shallow_working_results.mt.html" %}
    </script>
    <script type="text/html" id="deep-working-results-tpl">
        {% include "sparerib/deep_working_results.mt.html" %}
    </script>
    <script type="text/html" id="results-tpl">
        {% include "sparerib/results.mt.html" %}
    </script>

    {# regular footer javascript #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/libs/jquery-1.8.3.min.js" %}"><\/script>')</script>
    <script src="{% static "js/libs/underscore-min.js" %}"></script>
    <script src="{% static "js/libs/backbone-min.js" %}"></script>

    <script src="{% static "js/libs/charts/d3.v2.min.js" %}"></script>
    <script src="{% static "js/libs/charts/sparerib_d3.js" %}"></script>
    <script src="{% static "js/libs/charts/circles.js" %}"></script>

    <script src="{% static "js/libs/jquery.caret.js" %}"></script>
    <script src="{% static "js/libs/jquery.ui.combined.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery.pretag.js" %}"></script>

    <script type="text/javascript" src="{% static "js/libs/pikaday.min.js" %}"></script>

    <script data-remove="false">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-22821126-32', 'docketwrench.sunlightfoundation.com');
        ga('send', 'pageview');
        ga('create', 'UA-48789618-1', 'docketwrench.sunlightfoundation.com', {'name': 'global'});
        ga('global.send', 'pageview');
    </script>

    <script src="{% static "js/libs/socialite.min.js" %}"></script>

    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/sparerib.js" %}"></script>

    <script>
    AC_URL = "{{ AC_URL|safe }}";
    </script>

    <script>
    $(function() {
        $('#signupForm').submit(function(ev) {
            var $form = $(this);
            var email = $form.find('input[name=email]').val(),
                zipcode = $form.find('input[name=zipcode]').val(),
                url = 'http://sunlightfoundation.com/mailinglist/subscribe/';
            var data = {
                response: 'json',
                email: email,
                zipcode: zipcode
            };
            var params = {
              type: 'POST',
              url: url,
              data: data
            };
            // Add preflight request if the url is on a different domain
            if(url.match(/^http/) && !url.match(new RegExp('^https?:\/\/' + location.host.replace('.', '\\.')))){
              params['headers'] = {
                'Access-Control-Allow-Headers': 'x-requested-with, x-requested-by'
              };
            }
            $.ajax(params).success(function(resp) {
                var $p = $('<p>').text(resp.message).hide();
                $form.slideUp('fast', function() {
                    $form.after($p);
                    $p.slideDown();
                });
            });
            ev.preventDefault();
        });
    });
    </script>
</body>
</html>