<!doctype html>
{% load staticfiles %}

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SpareRib</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static "css/jquery.ui.minimal.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.pretag.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src="{% static "js/libs/modernizr-2.5.3.min.js" %}"></script>

    <script type="text/javascript" src="//use.typekit.net/faj8hqr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
        <div class="header-content">
            <h1><a href="/">SpareRib</a></h1>
            <div id="top-search">
                <div class="search">
                    <form>
                        <input type="text" name="query" class="search-query" /> <input type="submit" value="go" />
                    </form>
                </div>
            </div>
            <nav>
                <ul id="top-menu">
                    <li class="about-link"><a href="#">About</a></li>
                    <li class="contact-link"><a href="http://sunlightfoundation.com/contact/" target="blank">Contact</a></li>
                    <li class="sf-link"><a href="http://sunlightfoundation.com">Sunlight Foundation</a>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-loading loading"></div>
    <div role="main" id="main">
        {% block "main" %}{% endblock %}
    </div>
    <footer>
        <div class="mail-stripe-wrapper">
            <div class="mail-stripe ">
                <div class="mail-stripe-inner clearfix">
                    <div class="call-to-action">
                        <h4>Like this project and want to discover others like it?
                        <p>Join the Sunlight Foundation's open government community to learn more.</p></h4>
                    </div>
                    <div class="sign-up">
                        <form name="list-sign-up">
                            <input class="email-field" type="text" value="Email Address" />
                            <input class="zip-field" type="text" value="Zip Code" />
                            <input type="submit" value="Sign Up" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="sunlight-stripe">
            <a href="http://sunlightfoundation.com"><img src="../../static/img/sf_logo.png" width="136" height="41" alt="Sunlight Foundation"></a>
            <p class="sunlight-strip-text">Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
        </div>
    </footer>

    {# Backbone template includes #}
    <script type="text/html" id="document-tpl">
        {% include "sparerib/document.mt.html" %}
    </script>
    <script type="text/html" id="aggregated-tpl">
        {% include "sparerib/aggregated.mt.html" %}
    </script>
    <script type="text/html" id="entity-tpl">
        {% include "sparerib/entity.mt.html" %}
    </script>
    <script type="text/html" id="home-tpl">
        {% include "sparerib/home.mt.html" %}
    </script>
    <script type="text/html" id="clusters-tpl">
        {% include "sparerib/clusters.mt.html" %}
    </script>
    <script type="text/html" id="docket-teaser-tpl">
        {% include "sparerib/docket_teaser.mt.html" %}
    </script>
    <script type="text/html" id="document-teaser-tpl">
        {% include "sparerib/document_teaser.mt.html" %}
    </script>
    <script type="text/html" id="shallow-working-results-tpl">
        {% include "sparerib/shallow_working_results.mt.html" %}
    </script>
    <script type="text/html" id="deep-working-results-tpl">
        {% include "sparerib/deep_working_results.mt.html" %}
    </script>
    <script type="text/html" id="results-tpl">
        {% include "sparerib/results.mt.html" %}
    </script>

    {# regular footer javascript #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/libs/jquery-1.7.1.min.js" %}"><\/script>')</script>
    <script src="{% static "js/libs/underscore-min.js" %}"></script>
    <script src="{% static "js/libs/backbone-min.js" %}"></script>

    <script src="{% static "js/libs/charts/d3.v2.min.js" %}"></script>
    <script src="{% static "js/libs/charts/sparerib_d3.js" %}"></script>

    <script src="{% static "js/libs/jquery.caret.js" %}"></script>
    <script src="{% static "js/libs/jquery.ui.combined.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery.pretag.js" %}"></script>

    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/sparerib.js" %}"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script>
    AC_URL = "{{ AC_URL|safe }}";
    </script>
</body>
</html>