<div class="banner">
    <div class="banner-content">
        <div class="breadcrumbs">
            BREADCRUMBS
        </div>
        <div class="dates">
            DATES
        </div>
        <h2>Document similarity for docket <%=docket_id%></h2>
    </div>
</div>

<div class="main-content">
<div class="overview">
    The display below groups together documents within this docket by their similarity to one another. Each box in the display represents a group of similar documents. Each row shows all of the groupings for a particular similarity threshold (e.g., the first row shows all groupings of documents that are at least 50% similar to one another). The vertical relationships between boxes show how a given group merges or divides as that threshold changes.
</div>

<div class="cluster-similarity"><small>&#x25b2;</small> Least Similar</div>
<div class="cluster-map"></div>
<div class="cluster-similarity"><small>&#x25bc;</small> Most Similar</div>
<div class="cluster-label label right">&nbsp;</div>

<div class="cluster-docs">
    <div class="cluster-doc-list">

    </div>
    <div class="cluster-doc">

    </div>
    <div class="clear"></div>
</div>
</div>