<div class="banner">
    <div class="banner-content">
        <div class="overview">
            <s>The display below groups together documents within this docket by their similarity to one another. Each box in the display represents a group of similar documents. Each row shows all of the groupings for a particular similarity threshold (e.g., the first row shows all groupings of documents that are at least 50% similar to one another). The vertical relationships between boxes show how a given group merges or divides as that threshold changes.</s>
        </div>
    </div>
</div>

<div class="main-content">

<div class="cluster-visualization">
    <div class="cluster-summary">
        <div class="cluster-breakdown"></div>
        <div class="cluster-meta">
            <ol class="breadcrumbs"></ol>
            <span class="dates"></span>
            <h2>Comment similarity for docket <span><%=docket_id%></span></h2>
        </div>
    </div>

    <h4>Groups of comments at least 50% similar to one another</h4>
    <div class="cluster-map"></div>

    <div class="cluster-docs clearfix">
        <div class="cluster-doc-list">

        </div>
        <div class="cluster-doc">

        </div>
    </div>
</div>
</div>