<div id="about">
    <div class="banner">
        <div class="banner-content">
            <h2>Deprecation</h2>
        </div>
    </div>
    <div class="main-content no-sidebar">
        <div class="landing-top">
            <p>In response both to improvements in <a href="http://www.regulations.gov">Regulations.gov</a>, Docket Wrench's primary data source, and to Sunlight Labs staff transition, the Labs team has decided to retire the Docket Wrench project and focus its efforts on new initiatives.</p>

            <p>The deprecation timeline for this project is as follows:
                <ul>
                    <li>Beginning August 28th, 2015, updates to the underlying data may become intermittent and unpredictable.</li>
                    <li>As of September 30th, 2015, data updates will likely cease altogether, and the site and its API will continue to be available, but serving only the static data as of their last update.</li>
                    <li>Sunlight will make a best effort to keep the site and its API available in that frozen state until December 1st, 2015, after which both will be turned off and will no longer be available.
                </ul>
            </p>

            <p>Unforeseen circumstances (e.g., server hardware failures) may result in an acceleration of this timeline.</p>

            <p>We want to thank you for your interest in and support of this project. Its source code will continue to be available on Github in the <a href="https://github.com/sunlightlabs/regulations-scraper">regulations-scraper</a> and <a href="https://github.com/sunlightlabs/sparerib">sparerib</a> repositories.</p>
        </div>
    </div>
</div>