<div class="banner">
    <div class="banner-content">
        <ol class="breadcrumbs">
            <li><a href="/agency/<%=agency.id%>"><%=agency.name%></a> &raquo;&nbsp;</li> <li><a href="/docket/<%=docket.id%>"><%=docket.title%></a> &raquo;</li>
        </ol>
        <span class="dates">
            <%=formatDate(date)%>
        </span>
        <h2><%=title%></h2>
    </div>
</div>

<div class="main-content with-left-sidebar clearfix">
    <div class="sidebar">
        <div class="sidebar-item">
            <h4>Docket Timeline</h4>
            <div id="sidebar-timeline"></div>
        </div>
        <% if (type == 'public_submission') { %>
        <div class="sidebar-item">
            <h4>Comment Similarity</h4>
            <div class="similarity-teaser loading">
            </div>
        </div>
        <% } %>
        <% _.each(clean_details, function(category) { %>
        <div class="sidebar-item<%=(category[0]=='Additional Details' ? ' collapsible': '')%>">
            <h4><%=category[0]%></h4>
            <div class="summary-table-wrapper">
                <table class="summary-table">
                    <% _.each(category[1], function(item) { %>
                    <tr>
                        <td class="item-label"><%=item[0]%></td>
                        <td><%=item[1]%></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </div>
        <% }); %>
        <div class="sidebar-item last">
            <a href="http://www.regulations.gov/#!documentDetail;D=<%=id%>" class="next">View on Regulations.gov &raquo;</a>
        </div>
    </div>

    <div class="main-column">
        <h3><%=prettifyLabel(type)%> Overview</h3>

        <div class="main-column-item">
            <h4>Document Text</h4>
            <% _.each(full_attachments, function(attachment) { %>
            <div class="attachment">
                <div class="attachment-name">
                    <a class="toggle">Toggle</a>
                    <% if (attachment.attachment) { %><span class="label">Attachment:</span><% } %>
                    <span class="title"><%=attachment.title%></span>
                </div>
                <div class="type-area">
                    <div class="type-views">
                        <% var i = 0; _.each(attachment.views, function(view) { %>
                            <div class="type-view" data-type-id="<%=i%>" data-source-file="<%=view.url.replace('inline', 'attachment')%>">
                                <% if (view.html) { %>
                                <iframe class="document-text" src="" data-src="<%=view.html%>" />
                                <% } else { %>
                                <div class="iframe-placeholder">
                                    <div class="notice">We were unable to extract text from this document.</div>
                                </div>
                                <% } %>
                            </div>
                        <% i++ }); %>
                    </div>
                    <div class="type-selection">
                        <p>Showing text extracted from the
                        <select>
                        <% var i = 0; _.each(attachment.views, function(view) { %>
                            <option value="<%=i%>"><%=view.file_type%></div>
                        <% i++ }); %>
                        </select>
                        version of the document</p>
                        <a href="#">Download from regulations.gov &raquo;</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

        <% if (_.contains(['rule', 'proposed_rule', 'notice'], type)) { %>

            <% if (comment_stats.recent_comments.length) { %>
            <div class="main-column-item">
                <h4>Most Recent Comments</h3>
                <table class="rank-table">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Organization</th>
                    </tr>
                    <% _.each(comment_stats.recent_comments, function(comment, idx) { %>
                    <tr class="<%=(idx % 2 == 0 ? 'even' : 'odd')%>">
                        <td class="date-field"><%=shortFormatDate(comment.date)%></td>
                        <td><a href="<%=comment.url%>"><%=comment.title%></a></td>
                        <td><%=(comment.author ? comment.author : "<em>none listed</em>")%></td>
                        <td><%=(comment.organization ? comment.organization : "<em>none listed</em>")%></td>
                    </tr>
                    <% }); %>
                </table>
                <a href="#" style="font-size: 80%">View more comments &raquo;</a>
            </div>
            <% } %>

            <% if (comment_stats.top_submitter_entities.length) { %>
            <div class="main-column-item">
                <h4>Top Comment Submitters</h3>
                <table class="rank-table">
                    <tr>
                        <th>Comment Submitter</th>
                        <th>Total Comments</th>
                    </tr>
                    <% _.each(comment_stats.top_submitter_entities, function(entity, idx) { %>
                    <tr class="<%=(idx % 2 == 0 ? 'even' : 'odd')%>">
                        <td><a href="<%=entity.url%>"><%=entity.name%></a></td>
                        <td><%=entity.count%></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
            <% } %>

        <% } %>
    </div>
</div>
