<div class="banner">
    <div class="banner-content">
        <div class="breadcrumbs">
            <a href="/agency/<%=agency%>"><%=agency%></a> &raquo; <a href="/docket/<%=docket.id%>"><%=docket.id%></a>
        </div>
        <div class="dates">
            <%=formatDate(date)%>
        </div>
        <h2><%=title%></h2>
    </div>
</div>

<div class="main-content with-left-sidebar">
    <div class="sidebar">
        <div class="sidebar-item">
            <img src="http://placehold.it/240x70" />
        </div>
        <div class="sidebar-item">
            <h4>Details</h4>
            <table class="summary-table">
                <% var i = 0; _.each(details, function(item, name) { %>
                <tr class="<%=(i % 2 == 0 ? 'even' : 'odd')%>">
                    <td><strong><%=prettifyLabel(name)%></strong></td>
                    <td><%=item%></td>
                </tr>
                <% i = !i + 0; }); %>
            </table>
        </div>
        <div class="sidebar-item last">
            <a href="http://www.regulations.gov/#!documentDetail;D=<%=id%>" class="next">View on Regulations.gov &raquo;</a>
        </div>
    </div>

    <div class="main-column">
        <h3><%=prettifyLabel(type)%> Overview</h3>
        
        <div class="main-column-item">
            <h4>Document Text</h4>
            <% _.each(full_attachments, function(attachment) { %>
            <div class="attachment">
                <div class="attachment-name">
                    <a class="toggle">Toggle</a>
                    <% if (attachment.attachment) { %><span class="label">Attachment:</span><% } %>
                    <span class="title"><%=attachment.title%></span>
                </div>
                <div class="type-area">
                    <div class="type-views">
                        <% var i = 0; _.each(attachment.views, function(view) { %>
                            <div class="type-view" data-type-id="<%=i%>" data-source-file="<%=view.url.replace('inline', 'attachment')%>">
                                <% if (view.raw_text) { %>
                                <iframe class="document-text" src="" data-src="<%=view.raw_text%>" />
                                <% } else { %>
                                <div class="iframe-placeholder">
                                    <div class="notice">We were unable to extract text from this document.</div>
                                </div>
                                <% } %>
                            </div>
                        <% i++ }); %>
                    </div>
                    <div class="type-selection">
                        <span>Showing text extracted from the</span>
                        <select>
                        <% var i = 0; _.each(attachment.views, function(view) { %>
                            <option value="<%=i%>"><%=view.file_type%></div>
                        <% i++ }); %>
                        </select>
                        <span>version of the document</span><br />
                        <a href="#">download from regulations.gov &raquo;</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

        <% if (_.contains(['rule', 'proposed_rule', 'notice'], type)) { %>
        <div class="main-column-item">
            <h4>Most Recent Comments</h3>
            <table class="rank-table">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                <tr class="even">
                    <td>12/30/12</td>
                    <td><a href="#">Comment on FR Doc # 2010-17845</a></td>
                    <td>Angela Poppe</td>
                </tr>
                <tr class="odd">
                    <td>12/30/12</td>
                    <td><a href="#">Comment on FR Doc # 2010-17845</a></td>
                    <td>Angela Poppe</td>
                </tr>
                <tr class="even">
                    <td>12/30/12</td>
                    <td><a href="#">Comment on FR Doc # 2010-17845</a></td>
                    <td>Angela Poppe</td>
                </tr>
                <tr class="odd">
                    <td>12/30/12</td>
                    <td><a href="#">Comment on FR Doc # 2010-17845</a></td>
                    <td>Angela Poppe</td>
                </tr>
                <tr class="even">
                    <td>12/30/12</td>
                    <td><a href="#">Comment on FR Doc # 2010-17845</a></td>
                    <td>Angela Poppe</td>
                </tr>
            </table>
            <br /><a href="#" style="font-size: 80%">View more comments &raquo;</a>
        </div>

        <div class="main-column-item">
            <h4>Top Comment Submitters</h3>
            <table class="rank-table">
                <tr>
                    <th>Comment Submitter</th>
                    <th>Total Comments</th>
                </tr>
                <tr class="even">
                    <td><a href="#">University of Phoenix</a></td>
                    <td>200</td>
                </tr>
                <tr class="odd">
                    <td><a href="#">Sierra Club</a></td>
                    <td>163</td>
                </tr>
                <tr class="even">
                    <td><a href="#">Consumer Federation of America</a></td>
                    <td>34</td>
                </tr>
                <tr class="odd">
                    <td><a href="#">Pittsburgh Technical Institute</a></td>
                    <td>21</td>
                </tr>
                <tr class="even">
                    <td><a href="#">Council for Exceptional Children</a></td>
                    <td>10</td>
                </tr>
            </table>
        </div>
        <% } %>
    </div>
    <div class="clear"></div>
</div>
