<div id="landing">
    <div class="banner-content landing-top">
        <div class="chart-bkgrnd">
            <h2><strong>Uncover</strong> <span>the</span> intricacies</h2>
            <h2><span>of the</span> <strong>regulatory process</strong></h2>
            <p>Organizations influence government through a variety of avenues. While some, like lobbying and campaign contributions, have been extensively researched, influence on the regulatory process has, until now, been largely unexplored. FINAL NAME OF TOOL, from the Sunlight Foundation, lets you delve into the depths of the federal rulemaking system, monitoring comments from 10,000 organizations across 300 federal agencies.</p>
        </div>
    </div>

    <div class="main-content no-sidebar threecol clearfix">
        <div class="firstcol">
            <h3>Track Rulemaking Dockets</h3>
            <p>Get a graphical overview of any one of over 100,000 federal rulemaking dockets, then drill down into the rules and notices it contains, and the comments on those rules. See who commented and when. <a href="#">View More &raquo;</a></p>
        </div>
        <div class="midcol">
            <h3>Investigate Similar Comments</h3>
            <p>Group similar comments within a rulemaking docket to identify commonly-used comment language, and to catch form letter commenters in the act. <a href="#">View More &raquo;</a></p>
        </div>
        <div class="lastcol">
            <h3>Explore Popular Searches</h3>
            <ul>
                <li><a href="#">First popular search term</a></li>
                <li><a href="#">First popular search term</a></li>
                <li><a href="#">First popular search term</a></li>
                <li><a href="#">First popular search term</a></li>
                <li><a href="#">First popular search term</a></li>

            </ul>
        </div>
    </div>
</div>