/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* author styles */

a, a:visited { color: #0a6e92; text-decoration: none; }
a:active, a:hover { color: #35a1ce; }
h1, h2 { font-family: 'Share', sans-serif; font-weight: normal; }
h1 { color: #ffffff; font-size: 250%; }
h1 a, h1 a:hover { color: #ffffff !important; }
h2 { font-size: 210%; margin-bottom: 10px; margin-top: 0; padding-top: 0; line-height: 1;}
h3, h4 { font-weight: bold; padding: 0; margin: 0; }
h3 { font-size: 140%; }
h4 { font-size: 115%; }
body { background-color: #333333; }
.clear { clear: both; }

header, footer, #main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
header {
  position: relative;
}
#main {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #cccccc;
}

#main .search {
  text-align: center;
  margin-bottom: 15px;
}
#main .search input {
  font-size: 180%;
}
#main .search input[type=text] {
  width: 400px;
}
ul.results, ul.results li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.results {
  border-top: 1px solid #cccccc;
}
ul.results li {
  padding: 15px;
  border-bottom: 1px solid #cccccc;
}
ul.results li:hover {
  background: #ddeeff;
  cursor: pointer;
}
ul.results a.title {
  display: block;
  font-weight: bold;
}
ul.results span.document-count {
  display: block;
  float: right;
  font-family: georgia, serif;
  font-style: italic;
}
.pagination {
  padding-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.pagination a {
  display: block;
  font-family: georgia, sans-serif;
  font-style: italic;
}
.pagination a.prev {
  float: left;
}
.pagination a.next {
  float: right;
}

.breadcrumbs {
  font-size: 80%;
  color: #444444;
}
.dates, .pages {
  font-family: georgia, serif;
  font-style: italic;
  margin-bottom: 20px;
}

.chart-row {
  clear: both;
}
.chart {
  width: 470px;
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
.chart.left {
  margin-left: 0;
}
.chart.full {
  margin-left: 0;
  width: 100%;
}
.chart table {
  width: 100%;
}
.chart table td, .chart table th {
  text-align: left;
  font-size: 80%;
  padding: 5px;
}
.chart table tr.even {
  background-color: #ddeeff;
}

.double-chart {
  margin-bottom: 30px;
}

.rules .rule {
  font-size: 80%;
  text-transform: uppercase;
  background: #990000;
  color: #ffffff;
  display: block;
  padding: 3px;
}
.rules .proposed_rule {
  font-size: 80%;
  text-transform: uppercase;
  background: #440000;
  color: #ffffff;
  display: block;
  padding: 3px;
}
.notice {
  padding: 10px;
  text-align: center;
  background: #ddeeff;
  font-family: georgia, sans-serif;
  font-style: italic;
  margin-bottom: 20px;
}

.view-by {
  float: right;
  padding-top: 4px;
}
.label {
  font-family: georgia, sans-serif;
  font-style: italic;
  text-transform: lowercase;
}
.view-by .current {
  background: #333333;
  color: #ffffff;
  padding: 4px;
  border-radius: 3px;
}

.attachment {
  margin-bottom: 12px;
}
.attachment .attachment-name {
  background: #ddeeff;
  padding: 8px;
  cursor: pointer;
}
.attachment .attachment-name:hover {
  background: #ebf5ff;
}
.attachment-name .toggle { background: url("../img/icons/small/toggle.png") bottom left no-repeat; float: left; width: 13px; height: 12px; display: block; text-indent: -9999em; margin: 0px; margin-top: 4px; margin-right: 6px; padding: 0; }
.attachment-name.active .toggle { background: url("../img/icons/small/toggle.png") top left no-repeat; }

.attachment .tab-area {
  display: none;
}

.attachment .tabs {
  width: 80px;
  float: left;
}
.attachment .tabs .tab {
  background: #666666;
  margin-bottom: 6px;
  padding: 8px;
  cursor: pointer;
}
.attachment .tabs .active {
  background: #333333;
  cursor: auto;
}
.attachment .tabs .failed img {
  opacity: 0.4;
}

.attachment .tab-views {
  width: 880px;
  float: right;
}
.attachment .tab-views .tab-view {
  padding: 20px;
  background: #333333;
  display: none;
}
.attachment .tab-views .active {
  display: block;
}
.attachment .tab-views .iframe-placeholder {
  width: 100%;
  height: 400px;
  padding-top: 2px;
  padding-bottom: 7px;
}
.attachment .tab-views iframe {
  width: 100%;
  height: 400px;
  background: #ffffff;
  border: 1px solid #666666;
}
.attachment .tab-view a {
  color: #ddeeff;
}
.attachment .tab-view a:hover, .attachment .tab-view a:active {
  color: #ebf5ff;
}

#top-search {
  position: absolute;
  top: 20px;
  right: 20px;
}
#top-search h2, #top-search .result-set {
  display: none;
}
#top-search .search input {
  font-size: 120%;
}
#top-search .search input[type=text] {
  width: 300px;
}

footer {
  padding: 15px;
  text-align: center;
  font-family: georgia, serif;
  font-style: italic;
  color: #cccccc;
}
footer a, footer a:visited { color: #ddeeff; }

/* end author styles */

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
