/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* author styles */

.text-replace {
    border-bottom: medium none;
    display: block;
    text-indent: -9999em;
}

a, a:visited {
    color: #46535f;
    text-decoration: underline;
    }

a:active, a:hover {
    color: #537b82;
    }

h1, h2, h3 {
    font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
    font-weight: 400;
    }

h1 {
    color: #ffffff;
    font-size: 200%;
    }

h1 a, h1 a:hover {
    color: #ffffff !important;
    }

h2 {
    font-size: 210%;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
    }

h3, h4 {
    padding: 0;
    margin: 0;
    }

h3 {
    font-size: 140%;
    font-weight: 400;
    color: #529594;

    }

h4 { font-size: 115%;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p, #about ul { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    }

.bold{
    font-weight:bold;
}

::-moz-selection {
    background: #808b52;
    color: #fff;
    ext-shadow: none;
    }

::selection {
    background: #808b52;
    color: #fff;
    text-shadow: none;
    }

body {
    background: url("../img/bg/body_bg.png");
    color: #473f3d;
    }

.clear { clear: both; }

.header-content, .main-content, .mail-stripe-inner, .sunlight-stripe, .sunlight-branding-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 172px;
  background: url("../img/bg/header_bg.png");
  border-bottom: 1px solid #e7e7e7;
  position: relative;

}
.sunlight-branding {
  height: 46px;
  background: url('../img/bg/sunlight_stripe.png') repeat-x top left;
  position: relative;
  z-index: 10;
}
.sunlight-branding a {
  text-indent: -9999em;
  display: block;
  background: url(../img/product-of.png) top left no-repeat;
  width: 218px;
  height: 29px;
  float: right;
  margin-top: 7px;
  margin-right: 30px;
}

.header-highlight {
  position: absolute;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  height: 172px;
  background: url('../img/bg/header_highlight.png') no-repeat top left;
}

.header-content {
  position: relative;
}

header h1 {
    float:left;
  padding-left: 50px;
  padding-top: 50px;
  margin: 0;
  padding-right:100px;
}

h1 a {
text-indent: -9999em;
display: block;
background: url(../../static/img/docketwrench_logo.png) top left no-repeat;
width: 405px;
height: 61px;
}

header ul#top-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  float:right;

  margin-bottom:0;
  padding-bottom:0;
}

header ul#top-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  height: 35px;
  line-height: 35px;
  text-align: right;
  font-size: 100%;
  width: 60px;
}

header ul#top-menu li a {
  color: #ffffff;
  font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
header ul#top-menu li a:hover {
  color: #eaeaea;
}
header div.social {
  position: absolute;
  left: 665px;
  top: 7px;
}
header div.social div.socialite {
  display: inline-block;
  vertical-align: middle;
}
header div.social .facebook-like {
  display: block;
  margin-right: 6px;
  position: relative;
  top: -2px;
}
header div.social .twitter-share {
  width: 85px;
  overflow: hidden;
}

nav {
    padding-bottom:0;
    margin-bottom:0;
}

header .sf-link { width: 105px; height: 40px; border-left: 0 !important;}
header .sf-link a {
  display: block;
  width: 105px;
  height: 40px;
  text-indent: -9999px;
  background: url("../img/sf_logo_mini.png") no-repeat top left;
}

.banner {
    background: url("../img/bg/banner_bottom.png") repeat-x bottom left;
}
.banner-content h2, .cluster-summary h2 {
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 180%;
  color: #529594;
}
.banner-content {
  width: 890px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 35px 35px;
}


.mail-stripe {
    background: url("../img/bg/footer.png") repeat-x top left;
    height: 121px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #d6d6d6;
    color: #ffffff;
}

.call-to-action {
  padding: 20px 0px 0px 90px;
  background: url("../img/product_of_sunlight.png") no-repeat top left;
  float: left;
  width: 525px;
  height: 60px;
  font-size: 90%;
  margin-top:22px;
  margin-left:30px;
}
.call-to-action h4 {
  display: block;
  font-size: 135%;
  line-height: 100%;
  font-weight: bold;
  padding-bottom:0px;
  margin-bottom:0px;
}

.call-to-action p {
  line-height: 100%;
  font-weight: normal;
  padding-top: 7px;
  margin-top:0;
  display: block;
}

.sign-up {
  width: 250px;
  float: right;
  margin-top:30px;
}
ul.sign-up {
    list-style: none;
    padding-left:0;
}

.sign-up li{
    padding:0;
    margin:0;
}

.sign-up input[type=text] {
  border: 0;
  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;
  font-size: 14px;
  padding: 6px 9px;
  outline: 0;
  -webkit-appearance: none;
  display: inline-block;
  margin-bottom: 8px;
  width: 175px;
}
.sign-up input.email-field {
  width: 220px;
}
.sign-up input[type=submit] {
  color: #ffffff;
  font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 700;
  background: none;
  border: none;
}
.sign-up input[type=submit]:hover {
  color: #eaeaea;
}

.sunlight-stripe {
  width: 860px;
  padding: 25px 95px 70px 95px;
  font-size: 75%;
  color: #475360;
}

.sunlight-footer {
   background: url("../../static/img/sf_logo.png") no-repeat;
   width:136px;
   height:41px;
   float:left;
   }

.sunlight-strip-text{
    float: right;
    width: 680px;
}

.with-right-sidebar {
  background: url("../img/bg/main_bg_right_sidebar.png") repeat-y top right;
}
.with-left-sidebar {
  background: url("../img/bg/main_bg_left_sidebar.png") repeat-y top left;
}

.main-column {
  width: 609px;
}

.with-right-sidebar .main-column {
  padding-left: 35px;
  float: left;
}
.with-left-sidebar .main-column {
  padding-right: 35px;
  float: right;
}

.no-sidebar {
  width: 910px;
  padding: 25px 0;
}

.main-column-item {
  background: url("../img/bg/banner_bottom.png") repeat-x bottom left;
}
.main-column-item:last-child {
  background-image: none;
}
.with-right-sidebar .main-column-item {
  padding: 30px 30px 30px 25px;
}
.with-left-sidebar .main-column-item {
  padding: 30px 25px 30px 30px;
}

.main-column h3 {
  color: #529594;
  margin-top: 20px;
}
.with-left-sidebar .main-column h3 {
  margin-left: 30px;
}
.main-column-split {
  font-size: 80%;
  margin: 30px 25px 40px 25px;
  background: url("../img/main_split_bg.png") repeat-y top left;
}
.main-column-split .main-column-left {
  width: 260px;
  float: left;
  padding-right: 19px;
}
.main-column-split .main-column-right {
  width: 260px;
  float: right;
  padding-left: 19px;
}
.main-column-split ul {
  margin-left: 0;
  padding-left: 0;
}
.main-column-split ul li {
  padding: 15px 0px 15px 30px;
  border-bottom: 1px solid #cbcbcb;
  list-style: none;
  margin-left: 0;
  background: url('../img/icons/tiny/icon_generic.png') no-repeat 0 18px;
}
.main-column-split ul li:last-child {
  padding-bottom: 2px;
  border-bottom: 0;
}
.main-column-split .notice, .sidebar-item .notice {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  width: 295px;
}
.with-right-sidebar .sidebar {
  float: right;
  padding-right: 20px;
}
.with-left-sidebar .sidebar {
  float: left;
  padding-left: 20px;
}
.sidebar-item {
  font-size: 80%;
}
#sidebar-timeline {
  width: 240px;
  height: 75px;
}
.with-right-sidebar .sidebar-item {
  padding: 25px 30px 35px 15px;
  background: url('../img/bg/right_sidebar_stripe.png') no-repeat bottom left;
}
.with-left-sidebar .sidebar-item {
  padding: 25px 15px 35px 30px;
  background: url('../img/bg/left_sidebar_stripe.png') no-repeat bottom right;
}
.sidebar-item.last {
  background: none;
}
.sidebar-item .toggle {
  margin: 2px 6px 0 0;
}
.sidebar-item.collapsible h4 {
  margin: -4px;
  padding: 4px;
}
.sidebar-item.collapsible h4:hover {
  background: rgba(200,200,200, 0.3);
  cursor: pointer;
}

.similarity-description {
  line-height: 1.6em;
  margin: 12px 0px 12px 0px;
}
.similarity-description .group-count {
    font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 145%;
  color: #d59305;
}
.similarity-description .cutoff {
    font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 145%;
  color: #529594;
}
.similarity-teaser {
  overflow: hidden;
}
.similarity-teaser.loading {
  height: 45px;
}
.sidebar ul.document-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul.document-list li {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #CBCBCB;
  list-style: none;
  margin-left: 0;
}
.sidebar ul.document-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.sidebar .submitter-breakdown {
  margin: 15px 0 15px 0;
  position: relative;
  width: 240px;
  height: 35px;
}
.sidebar .submitter-square {
  height: 12px;
  width: 12px;
  float: left;
  margin-top: 1px;
  margin-right:7px;
}
.sidebar .submitter-square-0 { background: #47535f; }
.sidebar .submitter-square-1 { background: #537c82; }
.sidebar .submitter-square-2 { background: #539594; }
.sidebar .submitter-square-3 { background: #899553; }
.sidebar .submitter-square-4 { background: #ebb701; }
.sidebar .submitter-square-other { background: #ffffff; }
.sidebar .submitter-name {
  width: 230px;
  margin-bottom: 8px;
}
.viewlink{
    margin-top:0;
    padding-left:19px;
}

.submitter-name p {
    margin-bottom:0;
}

ul.submitter-name{
    list-style: none;
    padding-left:0;
}
.sidebar .top-submitters .clear {
  margin-top: 4px;
}

.main-content a.external, .main-content a.download {
  padding-left: 22px;
  min-height: 16px;
  display: inline-block;
}
.main-content a.external {
  background: url('../img/icons/regulations-external.png') no-repeat left center;
}
.main-content a.download {
  background: url('../img/icons/regulations-download.png') no-repeat left center;
}

.main-column-item h4 a, .document-title {
  color: #529594;
  text-decoration: none;
}
.main-column-item h4 a:hover {
  text-decoration: underline;
}
.document-info-shadow {
  float: left;
  width: 150px;
  height: 14px;
  background: url("../img/bg/infobox_bg.png") repeat-x bottom left;
  margin-top: 8px;
  padding-bottom:0;
}
.document-info {
  width: 110px;
  clear: left;
  background: rgba(211,204,191,0.54) url("../img/bg/infobox_bg.png") repeat-x bottom left;
  font-size: 80%;
  padding: 15px 20px;
}
.document-summary {
  width: 375px;
  float: right;
  margin-top: 16px;
  font-size: 80%;
}
h4.summary-title {
  font-weight: bold;
  line-height: 180%;
  font-size:100%;
}
p.summary-contents {
    margin-top:0;
    word-wrap: break-word;
    overflow: hidden;
}
dd.document-date {
  border-bottom: 1px solid #a8a8a8;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left:0;
}
dt.comment-info {
  padding-top: 16px;
  border-top: 1px solid #ffffff;
  font-weight:bold;
  float:left;
}
.openness {
  text-transform: lowercase;
  font-size: 95%;
}
dd.comment-count {
  font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 145%;
  color: #d59305;
  padding-left:5px;
  padding-top: 9px;
  border-top: 1px solid #ffffff;


}

.right {
  text-align: right;
}

ul.results, ul.results li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.results {
  border-top: 1px solid #cccccc;
}
ul.results li {
  padding: 15px;
  border-bottom: 1px solid #cccccc;
}
ul.results li:hover {
  background: #ddeeff;
}
ul.results a.title {
  display: block;
  font-weight: bold;
}
ul.results span.document-count {
  display: block;
  float: right;
  font-family: georgia, serif;
  font-style: italic;
}
a.view-link { background: url("../img/icons/small/magnifier.png") top left no-repeat; float: right; width: 16px; height: 16px; display: block; text-indent: -9999em; margin: 0px; margin-top: 4px; margin-left: 6px; padding: 0; }
.chart table a.view-link { margin-top: 0; }

.pagination {
  padding-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.pagination a {
  display: block;
}
.pagination a.prev {
  float: left;
}
.pagination a.next {
  float: right;
}

ol.breadcrumbs {
  font-size: 80%;
  color: #444444;
  list-style: none;
  padding-left:0;
  padding-bottom: 30px;
  margin-top: 0px;
}
.breadcrumbs li{
    float:left;
}
span.dates {
  font-weight: bold;
  text-transform: uppercase;
}

.main-column .dates {
  margin-top: 0;
}
.pages {
  font-family: georgia, serif;
  font-style: italic;
  margin-bottom: 20px;
}

.chart-row {
  clear: both;
}
.chart {
  width: 470px;
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
.chart.left {
  margin-left: 0;
}
.chart.full {
  margin-left: 0;
  width: 100%;
}
.chart table {
  width: 100%;
}
.chart table td, .chart table th {
  text-align: left;
  font-size: 80%;
  padding: 5px;
}

.main-column .agency-square {
  height: 12px;
  width: 12px;
  float: left;
  margin-top: 1px;
  margin-right:7px;
}
.main-column .agency-square-0 { background: #899553; }
.main-column .agency-square-1 { background: #47535F; }
.main-column .agency-square-2 { background: #539594; }
.main-column .agency-name {
  width: 534px;
  margin-bottom: 8px;
}

ul.agency-name{
    list-style: none;
    padding-left:0;
}


.top-agencies{
    padding-left:0;
}
.main-column .agency-legend {
  font-size: 80%;
}

table tr.even {
  background-color: rgba(106,113,111,0.15);
}

.double-chart {
  margin-bottom: 30px;
}

.rules .doc-type {
  font-size: 80%;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 3px;
}
.rules .doc-rule {
  background: #990000;
}
.rules .doc-proposed_rule {
  background: #440000;
}
.rules .doc-notice {
  background: #0a6e92;
}
.notice {
  padding: 10px 0;
  font-family: georgia, sans-serif;
  font-style: italic;
  margin-bottom: 20px;
}

.view-by {
  float: right;
  padding-top: 4px;
}
.label {
  font-family: georgia, sans-serif;
  font-style: italic;
  text-transform: lowercase;
}
.overview {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 90%;
}
.view-by .current {
  background: #333333;
  color: #ffffff;
  padding: 4px;
  border-radius: 3px;
}

.attachment {
  margin-bottom: 12px;
}
.attachment .attachment-name {
  padding: 8px;
  cursor: pointer;
}
.attachment .attachment-name:hover {
  background: rgba(200, 200, 200, 0.3);
}
.toggle { background: url("../img/icons/small/toggle.png") bottom left no-repeat; float: left; width: 13px; height: 12px; display: block; text-indent: -9999em; margin: 0px; margin-top: 4px; margin-right: 6px; padding: 0; }
.active .toggle { background: url("../img/icons/small/toggle.png") top left no-repeat; }

.attachment .type-area {
  display: none;
}
.attachment .type-selection {
  text-align: right;
  font-size: 80%;
}

.attachment .type-views .type-view {
  display: none;
}
.attachment .type-views .active {
  display: block;
}
.attachment .type-views .iframe-placeholder {
  width: 100%;
  height: 400px;
  padding-top: 2px;
  padding-bottom: 7px;
}
.attachment .type-views iframe {
  width: 100%;
  height: 400px;
  background: #ffffff;
  border: 1px solid #666666;
}

.rank-table {
  font-size: 80%;
  width: 100%;
}
.rank-table th, .summary-table th {
  font-weight: bold;
  text-align: left;
}
.rank-table th, .rank-table td {
  padding: 10px;
}
.rank-table .date-field {
  white-space: nowrap;
}

.summary-table td {
  padding: 4px;
}
.summary-table {
  width: 100%;
  margin-top: 8px;
  border-bottom: 1px solid #cbcbcb;
  padding:5px 0;
}
.summary-table .item-label {
  float: left;
  width: 100px;
}

.summary-table .item {
  color: #77716f;
  float:left;
  padding-left:5px;
  margin-left:0;
  width:145px;
  word-wrap: break-word;
  overflow: hidden;
}

.summary-table tr:last-child {
  border-bottom: none;
}
.collapsible .summary-table-wrapper {
  display: none;
}

#top-search {
  width: 321px;
  float: right;
  margin-top:0;
  padding-top:22px;
  padding-right:30px;
}
#top-search h2, #top-search .result-set {
  display: none;
}
#top-search input[type=submit], .main-content .search input[type=submit] {
  display: block;
  float: left;
  width: 53px;
  height: 40px;
  margin: 1px 0 0 10px;
  padding: 0;
  border: 0;
  background: transparent url("../img/regs_search.png") no-repeat top right;
  text-indent: -9999em;
  cursor: pointer;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;
}

#top-search input[type=submit]:hover, .main-content .search input[type=submit]:hover {
  background: transparent url("../img/regs_search.png") no-repeat bottom right;
}

.main-content .search input[type=submit] {
  margin-top: 5px;
}
#top-search .ui-intertag {
  width: 250px;
  height: 34px;

  border: 4px solid #dddcda;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;

  font-size: 12px;
  background: #ffffff;

  outline: 0;
  -webkit-appearance: none;
  display: block;
  float: left;
}

/* all the colors */
#top-search .ui-intertag input[type=text]::-webkit-input-placeholder { /* WebKit */
  font-size: 90%;
  font-style: italic;
}
#top-search .ui-intertag input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 90%;
  font-style: italic;
}
#top-search .ui-intertag input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 90%;
  font-style: italic;
}
#top-search .ui-intertag input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 90%;
  font-style: italic;
}

.main-content .search .ui-intertag {
  width: 250px;

  border: 1px solid #dddcda;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  font-size: 12px;
  background: #ffffff;

  outline: 0;
  -webkit-appearance: none;
  display: block;
  float: left;
}
.main-content .search-filter-keyword .search .ui-intertag {
  width: 225px !important;
}
.main-content .search .ui-intertag .ui-intertag-subinput {
  padding-top: 4px;
  padding-bottom: 4px;
}
.main-content .search .ui-intertag .ui-intertag-tags {
  font-size: 160%;
}
.main-content .search .ui-intertag .ui-intertag-tags {
  margin-top: 2px;
}
.ui-intertag input.ui-autocomplete-loading {
  background: url('../img/loading_mini.gif') no-repeat right center;
}
.sidebar .search {
  position: relative;
}
.sidebar .search-filter .ui-icon {
  float: right;
  height: 12px;
  width: 12px;
  background-position: 0 0;
}
.sidebar .search-filter .ui-icon-close {
  background-image: url("../img/icons/regulations-ex.png") !important;
}
.sidebar .search-filter .ui-icon-plus {
  background-image: url("../img/icons/regulations-plus.png") !important;
  margin-right: 3px;
  margin-top: 4px;
  cursor: pointer;
}
.ui-intertag .ui-tag {
  font-size: 75%;
}
#top-search .ui-menu-area {
  position: absolute;
  top: 32px;
  left: 4px;
}
#top-search .search {
  position: relative;
}
.ui-icon {
  background-image: url("../img/icons/ui-icons_222222_256x240.png") !important;
}
.no-sidebar .search {
  padding: 40px 90px;
}
.no-sidebar .ui-menu-area {
  position: absolute;
  top: 80px;
  left: 92px;
}
.with-left-sidebar .ui-menu-area {
  position: absolute;
  top: 22px;
  left: 1px;
}
.main-content .search .ui-icon {
  top: 6px;
}
.sidebar .search {
  margin-top: 12px;
  margin-bottom: 12px;
}

#results-view h3 {
  margin-left: 25px;
}
.search-view .main-content {
  padding-top: 0px !important;
}
.search-results-loading.loading {
  border: 1px solid #999999;
  min-height: 150px;
  margin: 0px 25px 25px 25px;
}
.search-results-wrapper {
  font-size: 80%;
  padding: 0px 0px 35px 0px;
}
.result-set-shallow .search-results-wrapper {
  margin-bottom: 20px;
  background: url("../img/bg/banner_bottom.png") repeat-x bottom left;
}
.search-results-loaded {
  display: none;
  padding: 0px 25px 0px 25px;
}
.search-results-loaded table.results {
  width: 100%;
}
.results th {
  text-align: left;
}
.results td, .results th {
  padding: 6px;
}
.results .title {
  font-weight: bold;
  max-width: 400px;
}
.results .snippet {
  padding: 12px;
  font-style: italic;
  background: rgba(238,238,238,0.5);
}
.results .snippet em {
  background: #ffff00;
}
.filter-results { display: none; }

.cluster-map {
  height: 710px;
  width: 890px;
  overflow: visible;
}
.cluster-area {
  background: #ffffff;
}

.cluster-summary {
  position: relative;
  min-height: 275px;
  margin-top: 30px;
}
.cluster-meta {
  width: 350px;
  position: relative;
  z-index: 1000;
}
.cluster-summary .percent {
  font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 125%;
}
.cluster-visualization {
  margin-left: 35px;
}
.cluster-visualization h4 {
  margin-left: 40px;
  margin-bottom: 8px;
  visibility: hidden;
}

.cluster-row-label {
  width: 100px;
  border-right: 1px solid #cccccc;
  text-align: center;
  font-size: 110%;
  line-height: 45px;
}
.cluster-similarity {
  text-align: center;
  background: rgba(34,34,34,0.1);
  text-transform: lowercase;
}
.cluster-tip {
  position: absolute;
  width: 450px;
  background: #ffffff;
  border: 1px solid #666666;
  padding: 6px;
  font-size: 80%;
  z-index: 1000;
}
.cluster-docs {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 600px;
  width: 890px;
}
.cluster-doc {
  float: right;
  width: 590px;
  height: 100%;
  position: relative;
  overflow: auto;
  border: 1px solid #999999;
  background: #ffffff;
}
.cluster-doc-graph {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  background: #eeeeee;
  border: 1px solid #cccccc;
}

.cluster-doc-contents {
  font-size: 80%;
}
.cluster-doc-text {
  padding: 10px;
}
.cluster-doc-header, .cluster-doc-link {
  padding: 10px;
  background: #eeeeee;
}
.cluster-doc-header span {
  display: block;
}
.cluster-doc-header span.cluster-doc-title {
  background: none repeat scroll 0 0 #EEEEEE;
  font-family: "gnuolane","Franklin Gothic Bold",Impact,Haettenschweiler,"Helvetica Inserat","Arial Black",sans-serif;
  font-size: 145%;
  font-weight: 400;
}
.cluster-doc-key {
  color: #666666;
  font-size: 90%;
  margin-top: 8px;
}
.cluster-doc-key span {
  display: inline-block;
  height: 10px;
  width: 50px;
  background: url("../img/sim_key.png") no-repeat top left;
  margin-left: 4px;
  margin-right: 4px;
}
.cluster-visualization h2 span {
  white-space: nowrap;
}

.cluster-doc-list {
  float: left;
  width: 220px;
  border: 1px solid #999999;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
}
.cluster-row-0 .cluster-cell-alive {
  fill: #47525e;
}
.cluster-row-1 .cluster-cell-alive {
  fill: #577b81;
}
.cluster-row-2 .cluster-cell-alive {
  fill: #569594;
}
.cluster-row-3 .cluster-cell-alive {
  fill: #6f9579;
}
.cluster-row-4 .cluster-cell-alive {
  fill: #889359;
}
.cluster-cell-alive:hover {
  cursor: pointer;
  fill: rgba(211,204,191,1);
}
.cluster-cell-dead {
  fill: #666666;
}
.cluster-cell-chain {
  stroke: #e7b538;
  stroke-width: 2px;
}
.cluster-cell-selected, .cluster-cell-chain.cluster-cell-selected {
  stroke-width: 0;
  fill: #e7b538;
}
.cluster-connection {
  stroke-width: 2px;
  stroke: #555555;
}
.cluster-connection-chain {
  stroke: #e7b538;
}

.cluster-doc-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 80%;
}
.cluster-doc-list ul li {
  margin: 0;
  padding: 6px;
}
.cluster-doc-list ul li:hover {
  background-color: #eac563;
  cursor: pointer;
}
.cluster-doc-list ul li span {
  display: block;
}
.cluster-doc-list ul li span.cluster-doc-title {
  font-weight: bold;
}
.cluster-doc-selected {
  background-color: #e9b627;
}

.cluster-cutoff {
  text-transform: lowercase;
  font-family: georgia, serif;
  font-style: italic;
  float: right;
}
.cluster-cutoff .label {
  padding-right: 6px;
}
.phrase-box {
  background: #ffffff;
}
.phrase-box ul {
  padding: 10px;
  margin: 0;
  list-style: none;
}
.phrase-box ul li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 12px;
  line-height: 16px;
  clear: both;
  padding-left: 10px;
  background: url('../img/icons/lquo.png') no-repeat left 3px;
}
.phrase-box ul li:after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 9px;
  background: url('../img/icons/rquo.png') no-repeat right 3px;
}
.phrase-box .phrase-title {
  padding: 10px;
  background: #eeeeee;
  font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
  font-weight: 400;
  font-size: 145%;
}

.loading {
  background: #e9e9e9 url("../img/loading.gif") no-repeat center center;
}
.pseudo-loading {
  background: #e9e9e9 url("../img/loading.gif") no-repeat 97% 2%;
}
.main-loading {
  min-height: 250px;
  display: none;
}

.ui-tag {
  text-align: left;
}
.ui-intertag .ui-tag-type-agency, .ui-menu .ui-tag-type-agency {
  background: #e3e1dd;
  color: #899553;
  border-bottom: 1px solid #adadad;
  padding-top: 7px;
  padding-bottom: 7px;
}
.ui-menu .ui-tag-type-agency a:after {
  content: "agency filter";
  color: #537b82;
  display: block;
  font-size: 80%;
  text-transform: uppercase;
}
.ui-intertag .ui-tag-type-submitter, .ui-menu .ui-tag-type-submitter {
  background: #f6f6f6;
  color: #537C82;
  border-bottom: 1px solid #adadad;
  padding-top: 7px;
  padding-bottom: 7px;
}
.ui-menu .ui-tag-type-submitter a:after {
  content: "submitter filter";
  color: #6da3ab;
  display: block;
  font-size: 80%;
  text-transform: uppercase;
}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  background: #ffffff !important;
  color: #333333 !important;
  border: 0 !important;
}
.ui-menu .ui-menu-item {
  margin-bottom: 1px !important;
  font-size: 80%;
  text-align: left;
}

.search-tag .ui-icon {
  display: inline-block;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.search-tag {
  display: block;
  border-bottom: 1px solid #CBCBCB;
  padding: 3px;
}
.search-tag:last-child {
  border: 0;
}
.search-filter-magic {
  display: none;
}

/* Landing Page Styles */


.chart-bkgrnd{
    background: url('../img/landing-chart.png') no-repeat right center;
}

#landing h2 {
    font-size: 44px;
    max-width: 345px;
}

#landing h2 span{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: normal;
}

.landing-top{
    background: url("../img/bg/banner_bottom.png") repeat-x bottom left;
    margin-top:20px;
    padding-bottom:40px;

}

.landing-top p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #473f3d;
    width: 60%;

}

.threecol {
    margin-bottom:40px;

}

.threecol p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #473f3d;
}

.firstcol{
    float:left;
    width:285px;
    padding-right:20px;
    background: url('../img/bg/triline.png') repeat-y scroll top right;
    padding-bottom:65px;


}

.midcol{
    float:left;
    width:285px;
    padding-left:20px;
    padding-right:20px;
    background: url('../img/bg/triline.png') repeat-y scroll top right;
    padding-bottom:0px;
}
.midcol img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lastcol{
    float: left;
    width: 260px;
    padding-left: 20px;
    padding-top:0;
}

#landing.no-sidebar{
    padding-top:0;
}

#landing h3{
    color:#529594;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-top:20px;
}

#landing ul{
    list-style-type: circle outside;
    padding-left: 15px;
    line-height: 30px;
    padding-top:0;
    margin-top:7px;
    color: #EAB600;
}

#landing li {
    margin-bottom: 10px;
    padding-left: 5px;
}

#landing li a{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 30px;
}
#landing li .submitter-info {
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 11px;
  font-style: italic;
  line-height: 6px;
  color: #473f3d;
}

#landing .threecol img{
    padding-top:10px;

}

/* modal stuff */
.modal {
  border: 1px solid #666666;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
}



/*  About page  */

#about p, #about ul, #about th{
    font-size: 80%;
    width: 66%;
}

#about h3{
    padding-top:30px;
}

#about td {
  width: 50%;
  border: 1px solid #dddddd;
  border-top: none;
}
#about table {
  border-collapse: collapse;
  width: 100%;
}
#about th {
  width: 50%;
  text-align: left;
  background: #eeeeee;
  padding: 8px;
  padding-left: 16px;
  border: 1px solid #dddddd;
  border-bottom: 0px;
}
#about td p {
  margin-left: 40px;
}

/* COMMENT SIMILARITY */

.similarityIcon {
    background: url('../img/CommentSimilarityIcon.png') no-repeat top right;
    height: 99px;
    width: 161px;
    padding-bottom: 20px;
}
.similarityLink {
    font-family: "gnuolane", "Franklin Gothic Bold", Impact, Haettenschweiler, "Helvetica Inserat", "Arial Black", sans-serif;
    font-weight: 400;
    font-size: 145%;
    }

/* style dummy links */
a[href=\#] {
    opacity: 0.5;
    display:none;
}

/* end author styles */

@media only screen and (min-width: 35em) {


}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
