/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* author styles */

a, a:visited { color: #46535f; text-decoration: underline; }
a:active, a:hover { color: #537b82; }
h1, h2, h3 { font-family: "gnuolane",sans-serif; font-weight: 400; }
h1 { color: #ffffff; font-size: 250%; }
h1 a, h1 a:hover { color: #ffffff !important; }
h2 { font-size: 210%; margin-bottom: 10px; margin-top: 0; padding-top: 0; line-height: 1;}
h3, h4 { padding: 0; margin: 0; }
h3 { font-size: 140%; }
h4 { font-size: 115%; font-weight: bold; }
body { background: url("../img/bg/body_bg.png"); color: #473f3d; }
.clear { clear: both; }

.header-content, .main-content, .mail-stripe-inner, .sunlight-stripe {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background: url("../img/bg/header_bg.png");  
}
.header-content {
  position: relative;
  height: 130px;
  border-bottom: 1px solid #b5b5b5;
}
header h1 {
  left: 35px;
  top: 45px;
  position: absolute;
  margin: 0;
}
header ul#top-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 680px;
  width: 280px;
}
header ul#top-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  border-left: 1px solid #b5b5b5;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 80%;
}
header ul#top-menu li a {
  color: #8d867f;
}
header .about-link { width: 70px; }
header .contact-link { width: 80px; }
header .sf-link { width: 105px; height: 40px; border-left: 0 !important;}
header .sf-link a {
  display: block;
  width: 105px;
  height: 40px;
  text-indent: -9999px;
  background: url("../img/sf_logo_mini.png") no-repeat top left;
}

.banner {
  border-top: 1px solid #e7e7e7;
  background: url("../img/bg/banner_bottom.png") repeat-x bottom left;
}
.banner h2 {
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 180%;
  color: #529594;
}
.banner-content {
  width: 890px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 35px 30px;
}

.mail-stripe-wrapper {
  background: url("../img/bg/bottom_stripe_bg.png") repeat-x bottom left;
  padding: 1px 0 3px 0;
  border-top: 1px solid #bcbcbc;
}
.mail-stripe {
  background: url("../img/bg/header_bg.png"); 
}
.mail-stripe-inner {
  width: 880px;
  padding: 25px 40px 25px 40px;
}
.call-to-action {
  padding: 15px 0px 0px 90px;
  background: url("../img/product_of_sunlight.png") no-repeat top left;
  float: left;
  width: 525px;
  height: 60px;
}
.call-to-action strong {
  display: block;
  font-size: 145%;
  line-height: 100%;
  font-weight: normal;
}
.sign-up {
  width: 250px;
  float: right;
}
.sign-up input[type=text] {
  border: 0;

  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;
  
  font-size: 14px;

  padding: 6px 9px;
  
  outline: 0;
  -webkit-appearance: none;

  display: inline-block;
  margin-bottom: 8px;
  width: 150px;
}
.sign-up input.email-field {
  width: 220px;
}
.sign-up input[type=submit] {
  color: #475360;
  font-family: "gnuolane",sans-serif;
  font-style: normal;
  font-weight: 700;
  background: none;
  border: none;
}

.sunlight-stripe {
  width: 610px;
  padding: 25px 120px 70px 230px;
  background: url("../img/sf_logo.png") no-repeat 65px 20px;
  font-size: 75%;
  color: #475360;
}
.with-right-sidebar {
  background: url("../img/bg/main_bg_right_sidebar.png") repeat-y top right;
}
.with-left-sidebar {
  background: url("../img/bg/main_bg_left_sidebar.png") repeat-y top left;
}

.main-column {
  width: 609px;
}
.with-right-sidebar .main-column {
  padding-left: 35px;
  float: left;
}
.with-left-sidebar .main-column {
  padding-right: 35px;
  float: right;
}

.main-column-item {
  background: url("../img/bg/banner_bottom.png") repeat-x bottom left;
}
.main-column-item:last-child {
  background-image: none;
}
.with-right-sidebar .main-column-item {
  padding: 30px 30px 30px 25px;
}
.with-left-sidebar .main-column-item {
  padding: 30px 25px 30px 30px;
}

.main-column h3 {
  color: #529594;
  margin-top: 20px;
}
.with-left-sidebar .main-column h3 {
  margin-left: 30px;
}
.main-column-split {
  font-size: 80%;
  margin: 30px 25px 40px 25px;
  background: url("../img/main_split_bg.png") repeat-y top left;
}
.main-column-split .main-column-left {
  width: 260px;
  float: left;
  padding-right: 19px;
}
.main-column-split .main-column-right {
  width: 260px;
  float: right;
  padding-left: 19px;
}
.main-column-split ul {
  margin-left: 0;
  padding-left: 0;
}
.main-column-split ul li {
  padding: 15px 0px 15px 30px;
  border-bottom: 1px solid #cbcbcb;
  list-style: none;
  margin-left: 0;
  background: url('../img/icons/tiny/icon_generic.png') no-repeat 0 18px;
}
.main-column-split ul li:last-child {
  padding-bottom: 2px;
  border-bottom: 0;
}
.main-column-split .notice, .sidebar-item .notice {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  width: 295px;
}
.with-right-sidebar .sidebar {
  float: right;
  padding-right: 20px;
}
.with-left-sidebar .sidebar {
  float: left;
  padding-left: 20px;
}
.sidebar-item {
  font-size: 80%;
}
.with-right-sidebar .sidebar-item {
  padding: 25px 30px 35px 15px;
  background: url('../img/bg/right_sidebar_stripe.png') no-repeat bottom left;
}
.with-left-sidebar .sidebar-item {
  padding: 25px 15px 35px 30px;
  background: url('../img/bg/left_sidebar_stripe.png') no-repeat bottom right;
}
.sidebar-item.last {
  background: none;
}
.sidebar-item .toggle {
  margin: 2px 6px 0 0;
}
.sidebar-item.collapsible h4:hover {
  background: rgba(200,200,200, 0.3);
  cursor: pointer;
}

.similarity-description {
  line-height: 1.6em;
  margin: 12px 0px 12px 0px;
}
.similarity-description .group-count {
  font-family: "gnuolane",sans-serif;
  font-weight: 700;
  font-size: 145%;
  color: #d59305;
}
.similarity-description .cutoff {
  font-family: "gnuolane",sans-serif;
  font-weight: 700;
  font-size: 145%;
  color: #529594;
}
.similarity-teaser {
  overflow: hidden;
}
.similarity-teaser.loading {
  height: 45px;
}
.sidebar ul.document-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul.document-list li {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #CBCBCB;
  list-style: none;
  margin-left: 0;
}
.sidebar ul.document-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.sidebar .submitter-breakdown {
  margin: 15px 0 15px 0;
  position: relative;
  width: 240px;
  height: 35px;
}
.sidebar .submitter-square {
  height: 12px;
  width: 12px;
  float: left;
  margin-top: 4px;
}
.sidebar .submitter-square-0 { background: #47535f; }
.sidebar .submitter-square-1 { background: #537c82; }
.sidebar .submitter-square-2 { background: #539594; }
.sidebar .submitter-square-3 { background: #899553; }
.sidebar .submitter-square-4 { background: #ebb701; }
.sidebar .submitter-square-other { background: #ffffff; }
.sidebar .submitter-name {
  width: 230px;
  float: right;
  margin-bottom: 8px;
}
.sidebar .top-submitters .clear {
  margin-top: 4px;
}

.main-column-item h4 a, .document-title {
  color: #529594;
  text-decoration: none;
}
.main-column-item h4 a:hover {
  text-decoration: underline;
}
.document-info-shadow {
  float: left;
  width: 150px;
  height: 14px;
  background: url("../img/bg/infobox_bg.png") repeat-x bottom left;
  margin-top: 8px;
}
.document-info {
  width: 110px;
  clear: left;
  float: left;
  background: rgba(211,204,191,0.54) url("../img/bg/infobox_bg.png") repeat-x bottom left;
  font-size: 80%;
  padding: 15px 20px;
}
.document-summary {
  width: 375px;
  float: right;
  margin-top: 16px;
  font-size: 80%;
}
.summary-title {
  font-weight: bold;
  line-height: 180%;
}
.document-date {
  border-bottom: 1px solid #a8a8a8;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}
.comment-info {
  padding-top: 6px;
  border-top: 1px solid #ffffff;
}
.openness {
  text-transform: lowercase;
  font-size: 95%;
}
.comment-count {
  font-family: "gnuolane",sans-serif;
  font-weight: 700;
  font-size: 145%;
  color: #d59305;
}

.right {
  text-align: right;
}

#main .search {
  text-align: center;
  margin-bottom: 15px;
}
#main .search input {
  font-size: 180%;
}
#main .search input[type=text] {
  width: 400px;
}
ul.results, ul.results li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.results {
  border-top: 1px solid #cccccc;
}
ul.results li {
  padding: 15px;
  border-bottom: 1px solid #cccccc;
}
ul.results li:hover {
  background: #ddeeff;
}
ul.results a.title {
  display: block;
  font-weight: bold;
}
ul.results span.document-count {
  display: block;
  float: right;
  font-family: georgia, serif;
  font-style: italic;
}
a.view-link { background: url("../img/icons/small/magnifier.png") top left no-repeat; float: right; width: 16px; height: 16px; display: block; text-indent: -9999em; margin: 0px; margin-top: 4px; margin-left: 6px; padding: 0; }
.chart table a.view-link { margin-top: 0; }

.pagination {
  padding-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.pagination a {
  display: block;
  font-family: georgia, sans-serif;
  font-style: italic;
}
.pagination a.prev {
  float: left;
}
.pagination a.next {
  float: right;
}

.breadcrumbs {
  font-size: 80%;
  color: #444444;
}
.dates {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
.main-column .dates {
  margin-top: 0;
}
.pages {
  font-family: georgia, serif;
  font-style: italic;
  margin-bottom: 20px;
}

.chart-row {
  clear: both;
}
.chart {
  width: 470px;
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
.chart.left {
  margin-left: 0;
}
.chart.full {
  margin-left: 0;
  width: 100%;
}
.chart table {
  width: 100%;
}
.chart table td, .chart table th {
  text-align: left;
  font-size: 80%;
  padding: 5px;
}

.main-column .agency-square {
  height: 12px;
  width: 12px;
  float: left;
  margin-top: 4px;
}
.main-column .agency-square-0 { background: #899553; }
.main-column .agency-square-1 { background: #47535F; }
.main-column .agency-square-2 { background: #539594; }
.main-column .agency-name {
  width: 534px;
  float: right;
  margin-bottom: 8px;
}
.main-column .agency-legend {
  font-size: 80%;
}

table tr.even {
  background-color: rgba(211,204,191,0.54);
}

.double-chart {
  margin-bottom: 30px;
}

.rules .doc-type {
  font-size: 80%;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 3px;
}
.rules .doc-rule {
  background: #990000;
}
.rules .doc-proposed_rule {
  background: #440000;
}
.rules .doc-notice {
  background: #0a6e92;
}
.notice {
  padding: 10px;
  text-align: center;
  background: #e9e9e9;
  font-family: georgia, sans-serif;
  font-style: italic;
  margin-bottom: 20px;
  border: 1px solid #cbcbcb;
}

.view-by {
  float: right;
  padding-top: 4px;
}
.label {
  font-family: georgia, sans-serif;
  font-style: italic;
  text-transform: lowercase;
}
.overview {
  font-family: georgia, sans-serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 90%;
}
.view-by .current {
  background: #333333;
  color: #ffffff;
  padding: 4px;
  border-radius: 3px;
}

.attachment {
  margin-bottom: 12px;
}
.attachment .attachment-name {
  padding: 8px;
  cursor: pointer;
}
.attachment .attachment-name:hover {
  background: rgba(200, 200, 200, 0.3);
}
.toggle { background: url("../img/icons/small/toggle.png") bottom left no-repeat; float: left; width: 13px; height: 12px; display: block; text-indent: -9999em; margin: 0px; margin-top: 4px; margin-right: 6px; padding: 0; }
.active .toggle { background: url("../img/icons/small/toggle.png") top left no-repeat; }

.attachment .type-area {
  display: none;
}
.attachment .type-selection {
  font-family: georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 80%;
}

.attachment .type-views .type-view {
  display: none;
}
.attachment .type-views .active {
  display: block;
}
.attachment .type-views .iframe-placeholder {
  width: 100%;
  height: 400px;
  padding-top: 2px;
  padding-bottom: 7px;
}
.attachment .type-views iframe {
  width: 100%;
  height: 400px;
  background: #ffffff;
  border: 1px solid #666666;
}

.rank-table {
  font-size: 80%;
  width: 100%;
}
.rank-table th, .summary-table th {
  font-weight: bold;
  text-align: left;
}
.rank-table th, .rank-table td {
  padding: 10px;
}
.rank-table .date-field {
  white-space: nowrap;
}

.summary-table td {
  padding: 4px;
}
.summary-table {
  width: 100%;
  margin-top: 8px;
}
.summary-table .item-label {
  color: #77716f;
}
.summary-table tr {
  border-bottom: 1px solid #cbcbcb;
}
.summary-table tr:last-child {
  border-bottom: none;
}
.collapsible .summary-table-wrapper {
  display: none;
}

#top-search {
  position: absolute;
  top: 75px;
  left: 680px;
}
#top-search h2, #top-search .result-set {
  display: none;
}
#top-search .search input[type=submit] {
  display: inline-block;
  width: 53px;
  height: 34px;
  margin: 0 0 0 6px;
  padding: 0;
  border: 0;
  background: transparent url("../img/regs_search.png") no-repeat center bottom;
  text-indent: -9999em;
  cursor: pointer;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;
}
#top-search .search input[type=text] {
  width: 165px;

  border: 4px solid #dddcda;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;
  
  font-size: 12px;

  padding: 4px 7px;
  
  outline: 0;
  -webkit-appearance: none;
}

.cluster-map {
  height: 250px;
  width: 960px;
}
.cluster-area {
  background-color: #222222;
}
.cluster-label {
  margin-top: 4px;
}
.cluster-row-label {
  width: 100px;
  border-right: 1px solid #aaaaaa;
  text-align: center;
  font-family: georgia, serif;
  font-style: italic;
  font-size: 110%;
  line-height: 45px;
  color: #eeeeee;
}
.cluster-similarity {
  text-align: center;
  font-family: georgia, serif;
  font-style: italic;
  background: #eeeeee;
  text-transform: lowercase;
}
.cluster-tip {
  position: absolute;
  width: 450px;
  background: #ffffff;
  border: 1px solid #666666;
  padding: 6px;
  font-size: 80%;
  z-index: 1000;
}
.cluster-docs {
  margin-top: 10px;
  height: 600px;
}
.cluster-doc {
  float: right;
  width: 685px;
  height: 100%;
  position: relative;
  overflow: auto;
  border: 1px solid #999999;
}
.cluster-doc-graph {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  background: #eeeeee;
  border: 1px solid #cccccc;
}

.cluster-doc pre {
  white-space: pre;
  font-size: 85%;
}
.cluster-doc-list {
  float: left;
  width: 260px;
  border: 1px solid #999999;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.cluster-cell-alive {
  fill: #74aec9;
}
.cluster-cell-alive:hover {
  cursor: pointer;
  fill: #ddeeff;
}
.cluster-cell-dead {
  fill: #666666;
}
.cluster-cell-chain {
  stroke: #ff3333;
  stroke-width: 2px;
}
.cluster-cell-selected, .cluster-cell-chain.cluster-cell-selected {
  stroke-width: 0;
  fill: #cc0000;
}
.cluster-connection {
  stroke-width: 2px;
  stroke: #eeeeee;
}
.cluster-connection-chain {
  stroke: #ff3333;
}

.cluster-doc-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 80%;
}
.cluster-doc-list ul li {
  margin: 0;
  padding: 6px;
}
.cluster-doc-list ul li:hover {
  background-color: #ddeeff;
  cursor: pointer;
}
.cluster-doc-list ul li span {
  display: block;
}
.cluster-doc-list ul li span.cluster-doc-title {
  font-weight: bold;
}
.cluster-doc-selected {
  background-color: #aa0000;
  color: #ffffff;
}

.cluster-cutoff {
  text-transform: lowercase;
  font-family: georgia, serif;
  font-style: italic;
  float: right;
}
.cluster-cutoff .label {
  padding-right: 6px;
}

.loading {
  background: #e9e9e9 url("../img/loading.gif") no-repeat center center;
}
.pseudo-loading {
  background: #e9e9e9 url("../img/loading.gif") no-repeat 97% 2%;
}

/* style dummy links */
a[href=\#] {
  opacity: 0.5;
}

/* end author styles */

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
